<form role="form" ng-submit="submit()">

	<div class="page-header">
		<h2>Добавить/редактировать фотогаллерею</h2>
		<div class="page-header-actions">
			<button type="submit" class="btn btn-success">
				<i class="fa fa-floppy-o"></i>
				Сохранить
			</button>
		</div>
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Информация о фотогаллерее</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label for="name">Название</label>
				<input id="name" type="text" class="form-control" placeholder="Название" ng-model="obj.name" required="">
			</div>
			<div class="form-group">
				<label for="body">Описание</label>
				<textarea id="body" class="form-control" rows="2" placeholder="Описание" ng-model="obj.body"></textarea>
			</div>
			<div class="row">
				<div class="col-md-3 form-group">
					<label for="system_name">Системное имя</label>
					<input id="system_name" type="text" class="form-control" placeholder="Системное имя" ng-model="obj.system_name">
				</div>
				<div class="col-md-3 form-group">
					<label for="page">Привязать к странице</label>
					<select ng-model="obj.page_id">
						<option></option>
						<option ng-repeat="p in pages" value="{{p.id}}">{{ p.name }}</option>
					</select>
				</div>
				<div class="col-md-3">
					<br/>
					<div class="checkbox">
						<label for="slider">
							<input id="slider" type="checkbox" ng-model="obj.slider">
							Слайдер
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-success">
		<div class="panel-heading">
			<h3 class="panel-title">Фотографии</h3>
		</div>
		<div class="panel-body">
			<photos-uploaded resource-name="gallery" resource-id="{{ obj.id }}" show-form="true"></photos-uploaded>
			<uploader-component upload-url="/admin/gallery/photos/upload" resource-name="gallery_id" resource-id="{{ obj.id }}"></uploader-component>
		</div>
	</div>

</form>