<div class="footer">
    <div class="footer-row">
        <div class="footer-cell">
            <div class="footer-cell__title">Нахимовский проспект</div>
            Нахимовский пр-т, д. 24, ТВЦ «ЭКСПОСТРОЙ»<br>
            павильон 3, цокольный этаж, 514-517<br>
            (495) 779-10-97 &nbsp;&nbsp;(903) 734-69-49<br>
            <a href="mailto:santemax_ekspostroy@mail.ru">santemax_ekspostroy@mail.ru</a>
        </div>
        <div class="footer-cell">
            <div class="footer-cell__title">Нахимовский проспект</div>
            Нахимовский пр-т, д. 28, Салон плитки<br> 
            «ПЛИТКАМАКС»<br>
            (499) 124-14-01 &nbsp;&nbsp;(968) 808-11-99<br>
            <a href="mailto:santemax_28@mail.ru">santemax_28@mail.ru</a>
        </div>
        <div class="footer-cell">
            <div class="footer-cell__title">Каширская</div>
            Каширское ш., д.19, корп.2, ТК «Каширский<br>
            Двор», 2 этаж, стенды: 2-11, 2-40<br>
            (962) 955-88-00<br>
            <a href="mailto:santemax_k@mail.ru">santemax_k@mail.ru</a>
        </div>
    </div>


	<div class="clearfix">
		<div class="pull-left">
		    © Copyright OOO «ДМ-Стайл», Все права защищены
		</div>
	    <div class="pull-right create">
	        Разработка сайта -
	        <%= link_to 'http://rocket-web.ru/', {:target => '_blank'} do %>
	            <%= image_tag "site/rocket-web.png", alt: "Веб студия Rocket-web" %>
	        <%- end %>
	    </div>
	</div>
</div>
