<div class="header clearfix">

  <a class="logo" href="/"></a>

  <div class="pull-right">

    <div class="clearfix pull-right" style="width: 630px">
      <div class="phone pull-left">
        +7 (495) 645-56-16
      </div>
      <div class="time pull-left">
        Пн-Сб: 10.00-20.00
        &nbsp;
        Вс: 10.00-19.00
      </div>
      <div class="b-search">
        <form action="search">
          <input class="b-search-field" placeholder="Поиск..." name="search">
          <button class="b-search-action"></button>
        </form>
      </div>
    </div>

    <%= render_cell :menu, :list %>
    
  </div>
</div>
